<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Drawer
    </super-navbar-title>
  </super-navbar>

  <div class="padding">

    <br>
    <h3>You found me!</h3>
    <br>

    <p>This is a native drawer menu. You can add these on either side of the application, or both!</p>

    <p>To close the menu, <b>swipe</b> from the edge, <b>tap</b> the original view or <b>tap</b> the button below.</p>

    <br>
    <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
      Close this menu
    </button>

  </div>

</div>