<super-navbar>
  <super-navbar-title>
    Menu
  </super-navbar-title>
</super-navbar>
<div ng-controller="MenuController">
<div ng-model="user">
          <div class="list">
              <div class="item item-divider">
                <h2><b>User info</b></h2>
              </div>
              <div class="item">
                  {{user.id}}
              </div>
              <div class="item item-icon-left" >
                <i class="icon super-person-stalker"></i>
                  {{user.username}}
              </div>
              <div class="item item-icon-left" >
                <i class="icon super-email"></i>
                  {{user.email}}
              </div>
              <div class="item" >
                  {{user.first_name}}
              </div>
              <div class="item" >
                  {{user.last_name}}
              </div>
              <div class="item" >
                  {{user.url}}
              </div>
          </div>
</div>
<button class="button button-block button-positive" ng-click="showWeeks()">
  Weeks
</button>
<button class="button button-block button-positive" ng-click="showSettings()">
  Settings
</button>
  <super-navigate-back>
    <button class="button button-positive button-block navigation__layerPush__button">
      Navigate back
    </button>
  </super-navigate-back>
</div>
</div>