<super-navbar>
  <super-navbar-title>
    Menu
  </super-navbar-title>
</super-navbar>
<div class="padding" ng-controller="MenuController">
<div ng-model="user">
          <div class="list">
              <div class="item item-divider">
                <h2><b>{{'USERNAME' | translate}}</b></h2>
              </div>
              <div class="item">
                  {{user.username}}
              </div>
          </div>
</div>

<button class="button button-block button-positive" ng-click="showWeeks()">
  Routes
</button>

<button class="button button-block button-positive" ng-click="showSettings()">
  Settings
</button>

<button class="button button-block button-royal button-icon-left" ng-click="switchLanguage('en')">
<i class"icon ion-chatbubble-working"></i>
  {{'SWITCH_LANGUAGE_EN' | translate}}
</button>

<button class="button button-block button-royal" ng-click="switchLanguage('it')">
  {{'SWITCH_LANGUAGE_IT' | translate}}
</button>

<button class="button button-block button-royal" ng-click="logOut()">
  Logout
</button>

  <super-navigate-back>
    <button class="button button-positive button-block navigation__layerPush__button">
      Navigate back
    </button>
  </super-navigate-back>
</div>
</div>