<super-navbar>
    <super-navbar-title>
      Authentication
    </super-navbar-title>
</super-navbar>
<div class="padding">
<div ng-model="message" ng-controller="LoginController">

    <button class="button button-positive button-block" ng-click="register()">
        Register
    </button>

    <button class="button button-positive button-block" ng-click="login()">
        Login
    </button>

    <div ng-model="loginState" ng-hide="loginState.state" class="list list-inset">
        <label class="item item-input">
            <input ng-model="user.username" type="text" placeholder="Username">
        </label>
        <label class="item item-input">
            <input ng-model="user.password" type="password" placeholder="Password">
        </label>
        <button class="button button-positive button-block" ng-click="submit()">
            Submit
        </button>
        <div>{{log.message}}</div>
    </div>

</div>
</div>