  <super-navbar>
    <super-navbar-title>
      Single route
    </super-navbar-title>
  </super-navbar>

  <div ng-controller="RoutesController">
  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Reason:
      </div>
      <select>
        <option>Travel</option>
        <option selected>Other</option>
        <option>Working</option>
      </select>
    </label>

  </div>

  <div class="item">
  <b>CO2: {{route.co2}}; Energy: {{route.energy}}</b>
  </div>

    <div ng-repeat="activity in route.activities" class="list" ng-click="showMap(route)">

              <div class="item item-icon-right" >
                  Activity name: {{activity.activityMoves}}
                  <i class="icon icon-accessory super-arrow-right-c"></i>
              </div>

    </div>

    <button class="button button-positive button-block" ng-click="validate()">
        Validate
    </button>

    <super-navigate-back>
      <button class="button button-positive button-block navigation__layerPush__button">
        Navigate back!
      </button>
    </super-navigate-back>

    <br><br>

  </div>