<super-navbar>
  <super-navbar-title>
    Routes
  </super-navbar-title>
</super-navbar>

<div ng-controller="WeeksController">

  <div ng-repeat="week in weeks" class="list" ng-click="showWeek(week)">

  <div class="item item-icon-right" >
      <i class="icon icon-accessory super-arrow-right-c"></i>
      {{week.name}}
  </div>

  </div>

  <super-navigate-back>
    <button class="button button-positive button-block navigation__layerPush__button">
      {{'NAVIGATE_BACK' | translate}}
    </button>
  </super-navigate-back>

  <br><br>
</div>