<super-navbar>
  <super-navbar-title>
    another webview
  </super-navbar-title>
</super-navbar>

<div class="padding extra-padding-left" ng-controller="NuovaFinController">

  <br>
  <h3>Pow!</h3>
  <p>You just navigated to another webview using the native layer. To navigate back, use one of the following:</p>

  <ol>
    <li>
      <b>1. Tap</b> on the automatically added, native, back button.
      <br><br>
    </li>
    <li>
      <b>2. Swipe</b> from the left edge of the view. (iOS only!)
      <br><br>
    </li>
    <li>
      <b>3. Tap</b> on an in-view HTML5 component with navigate-back action attached.
    </li>
  </ol>

  <super-navigate-back>
    <button class="button button-positive button-block navigation__layerPush__button">
      <div class="navigation__layerPush__circle circle-3">3</div>
      Navigate back!
    </button>
  </super-navigate-back>

  <br><br>

  <div class="navigation__layerPush__circle circle-1">1</div>
  <div class="navigation__layerPush__circle circle-2">2</div>

</div>